.files {
    grid-column: 2;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(.25*var(--tile-size));
    color: var(--dark-tile);

}

